name: Release Assets

on:
  release:
    types:
      - published

permissions:
  contents: write

jobs:
  build-and-upload:
    name: Build release asset
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create integration archive
        run: >
          zip -r
          thermostat_proxy.zip
          custom_components/thermostat_proxy hacs.json
          -x '*.pyc' -x '__pycache__/*'

      - name: Upload artifact to release
        uses: softprops/action-gh-release@v2
        with:
          files: thermostat_proxy.zip
